.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tab {
    font-size: 1.25rem;
    padding: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.25s;
}

.selected {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
}