:root {
  --primary-color: #011627;
  --secondary-color: #82aaff;
  --glow-color: #22da6e;
  --white: #ffffff;
  --button-border: 0.188rem solid var(--secondary-color);
  --container-border-left: 0.625rem solid var(--white);
  --title-size: 3.25rem;
  --title-size-small: 1.75rem;
  --title-size-medium: 2rem;
  --title-size-large: 2.5rem;
  --title-weight: 700;
  --text-size-small: 0.875rem;
  --text-size-medium: 1.125rem;
  --text-size-large: 1.5rem;
  --border-bottom-tabs: #233554;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter';
}

body {
  color: var(--white);
  background: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-block: 3rem;
}

section:first-child {
  min-height: 0;
  justify-content: center;
  padding: 3rem 0;
}
section:last-child {
  min-height: 0;
  justify-content: center;
  padding: 3rem 0;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
}

@media (min-width: 768px) {
  section:first-child {
    padding: 4rem 0;
  }
  section:last-child {
    padding: 4rem 0;
  }
  section {
    padding-block: 4rem;
  }
}

@media (min-width: 992px) {
  section:first-child {
    min-height: 85vh;
    justify-content: center;
    padding: 0;
  }
  section:last-child {
    min-height: 85vh;
    justify-content: center;
    padding: 0;
  }
  section {
    min-height: 100vh;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  section:first-child {
    min-height: 85vh;
    justify-content: center;
  }
  section:last-child {
    min-height: 85vh;
    justify-content: center;
  }
  section {
    min-height: 100vh;
    justify-content: center;
  }
}
