.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: var(--container-border-left);
  padding-left: 1.75rem;
}

.section_left p {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.title {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  margin-bottom: 1.5rem;
}

.highlight {
  color: var(--secondary-color);
}

.section_left {
  width: 60%;
}

.portrait {
  margin-left: auto;
}

@media (max-width: 600px) {
  .section_left {
    width: auto;
  }
  .section_right {
    width: auto;
  }
  .portrait {
    margin: 0 0 2rem 0;
    align-self: center;
  }
  .section_left p {
    font-size: var(--text-size-small);
  }
  .techStack {
    width: 330px;
    height: 50px;
  }
}
