.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: var(--container-border-left);
    padding-left: 1.75rem;
}

.section_left p {
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.title {
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    margin-bottom: 1.5rem;
}

.highlight {
    color: var(--secondary-color);
}

.section_left {
    width: 60%;
}

.portrait {
    margin-left: auto;
}