.wrapper {
  padding: 0;
  border-left: none;
}
.container {
  display: flex;
  flex-direction: column;
}
.reverse {
  flex-direction: column-reverse;
}
.title {
  font-size: var(--title-size-small);
  font-weight: var(--title-weight);
  margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
  .wrapper {
    border-left: var(--container-border-left);
    padding-left: 1.75rem;
  }
  .container {
    flex-direction: row;
  }
  .title {
    font-size: var(--title-size-large);
  }
}

@media (min-width: 1200px) {
  .wrapper {
    border-left: var(--container-border-left);
    padding-left: 1.75rem;
  }
  .container {
    flex-direction: row;
  }
  .title {
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    margin-bottom: 1.5rem;
  }
}
