.wrapper {
  border-left: var(--container-border-left);
  padding-left: 1.75rem;
}

.container {
  display: flex;
}

.title {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 0;
    border-left: none;
  }
  .container {
    flex-direction: column;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .title {
    font-size: var(--title-size-small);
  }
}
